<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Michelin Restaurants</title>
    
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin=""/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    
    <!-- d3 JavaScript -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
  
  </head>
  <body>
      
  <!-- Navbar  -->
  <nav class="navbar navbar-expand-sm navbar-light nopad">
        <div class="container-fluid">

          <!-- Index page  -->
          <div class="bg-light2">
            <a class="navbar-brand" style="color:black" aria-current="page" href="/">Michelin Guide</a>
          </div>

          <!-- Cuisine Filter Option  -->
          <!-- <a class="navbar-brand" href="#"> Apply Filters</a> -->

          <!-- Cuisine Select  -->
          <div class="row g-3">
            <!-- <div class="col-6" id="enter_cuisine">
              <input type="text" class="form-control" placeholder="Eg. Modern Cuisine" aria-label="Cuisine">
            </div> -->
                    

          <!-- Region Select  -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <!-- Region Select Continued  -->
          <div class="col-6 collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Select Region
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#">Los Angeles</a></li>
                  <li><a class="dropdown-item" href="#">San Francisco</a></li>
                  <li><a class="dropdown-item" href="#">New York</a></li>
                  <li><a class="dropdown-item" href="#">Chicago</a></li>
                  <li><a class="dropdown-item" href="#">Central & Eastern Europe</a></li>
                  <li><a class="dropdown-item" href="#">Athens</a></li>
                  <li><a class="dropdown-item" href="#">Oslo</a></li>
                  <li><a class="dropdown-item" href="#">Helsinki</a></li>
                  <li><a class="dropdown-item" href="#">Copenhagen</a></li>
                  <li><a class="dropdown-item" href="#">Rio de Janeiro</a></li>
                  <li><a class="dropdown-item" href="#">Taipei</a></li>
                  <li><a class="dropdown-item" href="#">Back to World Map</a></li>
                </ul>
              </li>
            </ul>
          </div>
          </div>


          <!-- Page Select (World, Heat, Cuisine) -->
          <div class="d-flex flex-row-reverse bd-highlight">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                      <a class="nav-link" href="map.html">World Map</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="heat.html">Heat Map</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="bubble.html">Cuisine Chart</a>
                  </li>                    
              </ul>
          </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
        </div>
    </nav>
      

    <!-- map div -->
    <div id="map-id"></div>

   
    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
    integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
    crossorigin=""></script>

    <!--Heatmap div-->
    <div id="my_dataviz"></div>
    <!--Load color palattes for heatmap-->
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>

    <!-- API key -->
    <script type="text/javascript" src="static/js/config.js"></script>
      <!-- JS  -->

      <script type="text/javascript" src="static/js/logic-1.js"></script>
      <script type="text/javascript" src="static/js/heatmap.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  </body>
</html>